* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content:center;
    text-align: center;
    height: 65px;
    width: 100%;
    color: #000;
    box-sizing: border-box;
    background-color: rgb(170, 236, 243);
    font-weight: bold;
    font-size: 2.5vw;
    font-family: 'Titillium Web', sans-serif;
} 

body {
    background-color:  #ffffe6;
    text-align: center;
}
div.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    padding: 30px;
}
/* h3 {
    display: flex;
    flex-wrap: row;
    justify-content: center;
    flex-wrap: wrap;
    color: black;

} */
.result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-size: 4vw;
    font-family: 'Titillium Web', sans-serif;
    color: black;
    

}
.box {
    height: 50px;
    width: 200px;
    border: 3px greenyellow solid;
    background-color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0.3em;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: black;
    padding: 0.0001rem;
    text-align: center;
}


div.options {

    display: flex;
    align-items: center;
    justify-content:center;
    background-color: none;
    margin: 30px 70px;
    flex-wrap: wrap;
}
div.option {
    width: 150px;
    height: 150px;
    margin: 0px 30px;
    background-color: rgb(170, 236, 243);
    padding: 10px;
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    transition:  0.5s ease-in-out;
    cursor: pointer;
    
      

}
div.option:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
div.option img {
    height: 100%;
    width: 100%; 
    border-radius: 50px;
    border-color: #000;
   
}
div.option#Scissor {
    transform: rotate(-90deg) rotateY(180deg);
}




h2#make-move-text {
    display: flex;
    flex-wrap: row;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    padding: 10px;
    font-family: 'Titillium Web', sans-serif;
}
.user-box{
    background-color: rgb(17, 161, 180);
    border-radius: 5px;
    height: 25px;
    font-size: 22px;
    margin-left: -25px;
}

.comp-box{
    background-color: rgb(17, 161, 180);
    border-radius: 5px;
    height: 25px;
    font-size: 22px;
    margin-right: -22px;
}
.timer-box{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size:  large;
    background-color: white;
    padding: 0px 52px;
}

#vs {
    
/* display: flex;
background-color: black; */
padding: 0px 1px;
}

.win{
    border: 5px solid limegreen !important;
}
.loose{
    border: 5px solid red !important;
}